.acronyms {
  &_item {
    .abbr {
      &_text {
        text-transform : uppercase;
        font-weight    : bold;
      }
      &_desc {
        text-transform  : capitalize;
        font-weight     : bold;
      }
    }
  }
}