<template name="acronymForm">
  <form class="acronymForm">
    <label class="acronymsForm_label" for="acronymText">
      <span>Acronym</span>
      <input id="acronymText"
             class="input"
             name="text"
             type="text"
             required
             placeholder="Acronym"/>
    </label>
    <label class="acronymsForm_label" for="acronymDesc">
      <span>Description</span>
      <input id="acronymDesc"
             class="input"
             name="desc"
             type="text"
             required
             placeholder="Description"/>
    </label>
    <input class="delete waves-effect waves-light btn right"
           type="submit"
           value="add acronym" />
  </form>
</template>